html, body, app {
	background-color: #000;
	min-height: 100vh;
}

app {
	display: block;
	background: #29262b;
	color: #c8c7ce;
}

.card {
	color: #29262b;
}

map {
	display: block;
	height: 600px;
	margin: 1em 0;
}
